* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    overflow: hidden;

}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(assets/bcg_icon.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.logo {
    width: 100px;
    padding: 20px 0;
    margin-left: 150px;
    cursor: pointer;
}

.allData {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: white;
    padding: 0px 150px;

}

.allData p {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 400;
}

.allData h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;

}

.allData p span {
    color: rgb(84, 153, 243);
    font-size: 16px;
    font-weight: 500;
}

.allData h1 span {
    font-size: 45px;
    color: rgb(84, 153, 243);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
    background: transparent;
    border: 2px solid white;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    gap: 6px;
}

button img {
    width: 20px;
    margin-top: 1px;
}

.time {
    display: flex;
}

.time div {
    flex-basis: 70px;
}

.time p {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: -4px;
}

.bost {
    width: 200px;
    position: absolute;
    right: 15%;
    bottom: 0%;
    animation: bost 4s linear infinite;
}

@keyframes bost {
    0% {
        bottom: 0;
        opacity: 0;
    }
    100% {
        bottom: 105%;
        opacity: 1;
    }
}